{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}Polyprismatic Application in Decision Making Systems{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/main.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% block head %}{% endblock %}
    </head>
    {% block body %} {% endblock %}
    
    
    
</html>