{% extends "mainApp/base.html" %}
{% load static %}

{% block title %}ΠΛΗΡΟΦΟΡΙΕΣ{% endblock %}


{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}

{% block body %}
<div class="card card-nav-tabs card-plain card-white">
    <div class="card-header card-header-success header-success">
        <h4 class="card-title text-center">ΠΛΗΡΟΦΟΡΙΕΣ</h4>
    <br>
    </div>
    <div class="card-body">
    
    </div>
</div>

{% endblock %}