{% extends "mainApp/base.html" %}
{% load static %}

{% block title %}ΠΛΗΡΟΦΟΡΙΕΣ{% endblock %}


{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}

{% block body %}
<div class="card text-center card-nav-tabs card-white">
    <div class="card-header card-header-success">
        <h3 class="card-title text-center">ΠΛΗΡΟΦΟΡΙΕΣ</h3>
    <br>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <img class="card-img-top" src="{% static 'emp.png' %}" alt="Card image cap" style="width: 20rem;">
                <br>
                <br>
                <h4 class="card-title">Εθνικό Μετσόβιο Πολυτεχνείο</h4>
                <p class="card-text">Σχολή Ηλεκτρολόγων Μηχανικών και Μηχανικών Υπολογιστών</p>
                <br>
                <br>
                <p class="card-text">Διπλωματική Εργασία: Σχεδιασμός και Ανάπτυξη Πολυπρισματικού Εργαλείου Λήψης Αποφάσεων</p>
                <p class="card-text"> Σταματόπουλος Ευστάθιος</p>
                <p class="card-text"> Α.Μ.: 03114144</p>
            </div>
            <div class="col-2"></div> 
        </div>
    </div>
</div>

{% endblock %}