{% extends "mainApp/base.html" %}
{% load static %}

{% block title %}Linear Programming{% endblock %}

{% block head %}

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title> Main App </title>

{% endblock %}

{% block body %}
    <body>    
        <h1> Linear Programming Application</h1>
            <a href="{% url 'dectree:dectree_index' %}" class="btn btn-lg btn-primary">Decision Tree Application</a>
            <a href="{% url 'linear:linear_index' %}" class="btn btn-lg btn-primary">Linear Programming Application</a>
    </body>
{% endblock %}