{% extends "mainApp/base.html" %}
{% load static %}

{% block title %}Γραμμικός Προγραμματισμός{% endblock %}

{% block head %}

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

{% endblock %}

{% block body %}
<div class="card card-nav-tabs text-center card-white">
    <div class="card-header">
        <h3 class="card-title">Γραμμικός Προγραμματισμός</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-nav-tabs text-center">
                    <a href="{% url 'linear:linear_upload' %}" class="btn btn-primary">Ανέβασμα Αρχείου JSON</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-nav-tabs text-center">
                    <a href="{% url 'linear:create_data' %}" class="btn  btn-primary">Δημιουργία Δεδομένων Εισόδου</a>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}