{% extends "mainApp/base.html" %}
{% load static %}

{% block title %}Linear Programming{% endblock %}

{% block head %}

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title> Linear Programming </title>

{% endblock %}

{% block body %}
    <body>    
        <h1> Linear Programming Application</h1>
            <a href="{% url 'linear:linear_upload' %}" class="btn btn-lg btn-primary">Upload JSON File</a>
            <a href="{% url 'linear:create_data' %}" class="btn btn-lg btn-primary">Create Your Dataset</a>
    </body>
{% endblock %}