{% extends "mainApp/base.html" %}
{% load static %}

{% block title %}Dynamic Programming {% endblock %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" href="{% static 'dynamic/css/dynamic_create.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" rel="stylesheet" type="text/css">
    <title> Dynamic Programming </title>
    <script type="text/javascript">
        var meth_id = {{ method_id|safe }};
        title = "{{ input_title| safe}}";
        type = "{{ input_type|safe }}";
        options = {{ input_options|safe }};
        var data = [];
        data = {{ input_data|safe }};
        var x = 0;
        var y = 0;
        var n = 0;
        var network = null;
        if(type == "route"){
            var id = data.nodes.length;
            var edge_id = data.edges.length;
            var input_nodes = data.nodes;
            var input_edges = data.edges;
        }


        function render(){
            $("#title").val(title);
            $("#type").val(type);

            if(type == "invest"){
                render_invest_options();
                render_table_data();
            } else if(type == "production"){
                render_production_options();
                render_table_data();
            } else if(type == "store"){
                render_store_options();
                render_store_data();
            } else if(type == "route"){
                render_route();
            }
        }

        function render_route(){
            document.getElementById("network").style.display = "block";
            destroy();
            var nodes = new vis.DataSet(input_nodes);
            var edges = new vis.DataSet(input_edges);

            var container = document.getElementById('network');

            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                edges:{
                    arrows: 'to',
                    color: '#7C7C7C',
                },
                groups:{
                    start: {
                        shape: 'circle',
                        color: '#2bff67'
                    },
                    end: {
                        shape: 'circle',
                        color: '#e62222'
                    },
                    node: {
                        shape: 'circle',
                        color: '#c9c9c9'
                    }
                },
                interaction:{keyboard:false},
                manipulation: {
                    addNode: function(data, callback){
                        document.getElementById("node-operation").innerText = "Προσθήκη Κόμβου";
                        editNode(data, clearNodePopUp, callback);
                    },
                    editNode: function(data, callback){
                        document.getElementById("node-operation").innerText = "Επεξεργασία Κόμβου";
                        editNode(data, cancelNodeEdit, callback);
                    },
                    addEdge: function(data, callback){
                        document.getElementById("edge-operation").innerText = "Προσθήκη Ακμής";
                        editEdgeWithoutDrag(data, callback);
                    },
                    editEdge:{
                        editWithoutDrag: function(data, callback){
                            document.getElementById("edge-operation").innerText = "Επεξεργασία Ακμής";
                            editEdgeWithoutDrag(data, callback);
                        }
                    },
                },
            };
            network = new vis.Network(container, data, options);

            var run = $("<button/>", {
                id: "run-method",
                type: "button",
                class: "btn btn-success",
                onClick: "get_data_output();"
            }).html("Εκτέλεση");
            $("#run").append(run);
        
        }

        function destroy() {
            if (network !== null) {
                network.destroy();
                network = null;
            }
        }

        function editNode(data, cancelAction, callback){
            if(data.id in network.body.nodes){
                document.getElementById("node-type").style.display = "none";
                if(data.group == "start"){
                    document.getElementById("node-type").value = "start";
                    $("#node-type").change();
                    document.getElementById("node-saveButton").onclick = saveEditNodeData.bind(this, data, callback);
                    document.getElementById("node-cancelButton").onclick = cancelAction.bind(this, callback);
                    document.getElementById("node-popUp").style.display = "block";
                } else if(data.group == "node"){
                    document.getElementById("node-type").value = "node";
                    $("#node-type").change();
                    document.getElementById("node-saveButton").onclick = saveEditNodeData.bind(this, data, callback);
                    document.getElementById("node-cancelButton").onclick = cancelAction.bind(this, callback);
                    document.getElementById("node-popUp").style.display = "block";
                } else{
                    document.getElementById("node-type").value = "end";
                    $("#node-type").change();
                    document.getElementById("node-saveButton").onclick = saveEditNodeData.bind(this, data, callback);
                    document.getElementById("node-cancelButton").onclick = cancelAction.bind(this, callback);
                    document.getElementById("node-popUp").style.display = "block";
                }
            } else{
                document.getElementById("node-saveButton").onclick = saveNodeData.bind(this, data, callback);
                document.getElementById("node-cancelButton").onclick = cancelAction.bind(this, callback);
                document.getElementById("node-popUp").style.display = "block";
            }
        }
        function clearNodePopUp() {
            document.getElementById("node-saveButton").onclick = null;
            document.getElementById("node-cancelButton").onclick = null;
            document.getElementById("node-popUp").style.display = "none";
        }
        function clearEditNodePopUp() {
            document.getElementById("node-saveButton").onclick = null;
            document.getElementById("node-cancelButton").onclick = null;
            document.getElementById("node-popUp").style.display = "none";
        }
        function cancelNodeEdit(callback) {
            clearEditNodePopUp();
            document.getElementById("node-type").style.display = "block";
            callback(null);
        }
        function saveEditNodeData(data, callback){
            data.group = document.getElementById("node-type").value;
            clearNodePopUp();
            callback(data);
            document.getElementById("node-type").style.display = "block";
        }
        function saveNodeData(data, callback){
            data.id = ++id;
            data.group = document.getElementById("node-type").value;
            data.label = data.id.toString();
            clearNodePopUp();
            callback(data);
        }
        function editEdgeWithoutDrag(data, callback){
            if (data.id in network.body.edges){
                document.getElementById("edge-label").value = data.label;
                document.getElementById("edge-saveButton").onclick = saveEditEdgeData.bind(this, data, callback);
                document.getElementById("edge-cancelButton").onclick = cancelEdgeEdit.bind(this, callback);
                document.getElementById("edge-popUp").style.display = "block";
            } else{
                document.getElementById("edge-label").value = "";
                document.getElementById("edge-saveButton").onclick = saveEdgeData.bind(this, data, callback);
                document.getElementById("edge-cancelButton").onclick = cancelEdgeEdit.bind(this, callback);
                document.getElementById("edge-popUp").style.display = "block";
            }
        }
        function clearEdgePopUp() {
            document.getElementById("edge-saveButton").onclick = null;
            document.getElementById("edge-cancelButton").onclick = null;
            document.getElementById("edge-popUp").style.display = "none";
        }
        function cancelEdgeEdit(callback) {
            clearEdgePopUp();
            callback(null);
        }
        function saveEditEdgeData(data, callback){
            data.label = document.getElementById("edge-label").value;
            clearEdgePopUp();
            callback(data);
        }
        function saveEdgeData(data, callback){
            data.id = ++edge_id;
            data.label = document.getElementById("edge-label").value;
            clearEdgePopUp();
            callback(data);
        }
        $(document).ready(function(){
            $("#edit-node-type").change(function(){
                var nodeType = $(this).attr("value");
            })
        });
        $(document).ready(function(){
            $("#node-type").change(function(){
                $(this).find("option:selected").each(function(){
                    var optionValue = $(this).attr("value");
                    if(optionValue){
                        $(".input").not("." + optionValue).hide();
                        $("." + optionValue).show();
                    } else{
                        $(".box").hide();
                    }
                });
            }).change();
        });

        function render_store_options(){
            $("#run").empty();
            $("#data").empty();
            var form = $("<form/>");
            var row = $("<div/>", {
                class: "row",
            });
            var div = $("<div/>", {
                class: "input-group mb-3"
            });
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Συνάρτηση Κόστους Παραγωγής:"));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("C<sub>x</sub> = ("));
            div.append($("<input/>", {
                type: "number",
                id: "a",
                class: "form-control",
                value: options.production_cost[0]
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("+ ν &#215;"));
            div.append($("<input/>", {
                type: "number",
                id: "b",
                class: "form-control",
                value: options.production_cost[1]
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html(") &#215; x + ("));
            div.append($("<input/>", {
                type: "number",
                id: "c",
                class: "form-control",
                value: options.production_cost[2]
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("+ ν &#215;"));
            div.append($("<input/>", {
                type: "number",
                id: "d",
                class: "form-control",
                value: options.production_cost[3]
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html(")"));
            form.append((row.append(div)));
            var row = $("<div/>", {
                class: "row",
            });
            var div = $("<div/>", {
                class: "input-group mb-3"
            });
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Συνάρτηση Κόστους Αποθήκευσης:"));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("C<sub>a</sub> = ("));
            div.append($("<input/>", {
                type: "number",
                id: "e",
                class: "form-control",
                value: options.storage_cost[0]
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("+ ν &#215;"));
            div.append($("<input/>", {
                type: "number",
                id: "f",
                class: "form-control",
                value: options.storage_cost[1]
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html(") &#215; a + ("));
            div.append($("<input/>", {
                type: "number",
                id: "g",
                class: "form-control",
                value: options.storage_cost[2]
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("+ ν &#215;"));
            div.append($("<input/>", {
                type: "number",
                id: "h",
                class: "form-control",
                value: options.storage_cost[3]
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html(")"));
            form.append(row.append(div));
            var row = $("<div/>", {
                class: "row",
            });
            var div = $("<div/>", {
                class: "input-group mb-3"
            });
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Παρτίδα Παραγωγής"));
            div.append($("<input/>", {
                type: "number",
                step: "1",
                min: "1",
                id: "production-batch",
                value: options.prod_batch
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Παρτίδα Αποθήκευσης"));
            div.append($("<input/>", {
                type: "number",
                step: "1",
                min: "1",
                id: "storage-batch",
                value: options.store_batch
            }));
            form.append(row.append(div));
            var row = $("<div/>", {
                class: "row",
            });
            var div = $("<div/>", {
                class: "input-group mb-3"
            });
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Αρχικό Απόθεμα"));
            div.append($("<input/>", {
                type: "number",
                step: "1",
                min: "1",
                id: "start-stock",
                value: options.start_stock
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Αριθμός Περιόδων"));
            div.append($("<input/>", {
                type: "number",
                step: "1",
                min: "1",
                id: "no-periods",
                value: options.periods
            }));
            form.append(row.append(div));
            var row = $("<div/>", {
                class: "row",
                style: "text-align: center;"
            });
            var col =  $("<div/>",{
                class: "col"
            });
            col.append($("<button/>",{
                type: "button",
                class: "btn btn-success",
                onClick: "set_storage_data();"
            }).html("Ορισμός Επιλογών"));
            form.append(row.append(col));
            $("#storage-options").append(form);
            $("#storage-options").append($("<p/>").html("ν: Περίοδος, x: Μέγεθος Παραγωγής, a: Μέγεθος Αποθήκευσης")); 
        }

        function render_invest_options(){
            var form = $("<form/>");
            var row = $("<div/>",{
                class: "row"
            });
            var col =  $("<div/>",{
                class: "col"
            });
            var input = $("<input/>", {
                type: "text",
                class: "form-control",
                id: "y-axis-description",
                placeholder: "Type of Financial Periods",
                value: options.y_description
            });
            col.append(input);
            row.append(col);
            var col =  $("<div/>",{
                class: "col"
            });
            var input = $("<input/>", {
                type: "number",
                class: "form-control",
                step: "1",
                min: "1",
                id: "y-axis",
                placeholder: "No. Financial Periods",
                value: options.y
            });
            col.append(input);
            row.append(col);
            form.append(row);
            form.append($("<br/>"));
            var row = $("<div/>",{
                class: "row"
            });
            var col =  $("<div/>",{
                class: "col"
            });
            var input = $("<input/>", {
                type: "text",
                class: "form-control",
                id: "x-axis-description",
                placeholder: "Type of Financial Units",
                value: options.x_description
            });
            col.append(input);
            row.append(col);
            var col =  $("<div/>",{
                class: "col"
            });
            var input = $("<input/>", {
                type: "number",
                class: "form-control",
                step: "1",
                min: "1",
                id: "x-axis",
                placeholder: "No. Financial Units",
                value: options.x
            });
            col.append(input);
            row.append(col);
            form.append(row);
            form.append($("<br/>"));
            form.append($("<br/>"));

            var row = $("<div/>",{
                class: "row",
                style: "text-align: center;"
            });
            var col =  $("<div/>",{
                class: "col"
            });
            var input = $("<button/>",{
                class: "btn btn-success",
                id: "invest-set",
                onClick: "set_data_table();"
            }).html("Ορισμός Επιλογών");
            col.append(input);
            row.append(col);
            form.append(row);
            $("#options").append(form);
        }
        function render_store_data(){
            $("#run").empty();
            $("#data").empty();
            if (($("#a").val()).length == 0 || ($("#b").val()).length == 0 || ($("#c").val()).length == 0 || ($("#d").val()).length == 0 || ($("#e").val()).length == 0 || ($("#f").val()).length == 0 || ($("#g").val()).length == 0 || ($("#h").val()).length == 0 || ($("#no-periods").val()).length == 0  ){
                alert("Please fill all the option fields!");
                return;
            }
            var table_body = $("<table/>", {
                class: "table",
                id: "data-table",
                style: "width: 90%;"
            });
            n = Number($("#no-periods").val());
            var row = $("<tr/>");
            row.append($("<th/>").html("Περίοδος"));
            row.append($("<th/>").html("Ζήτηση"));
            row.append($("<th/>").html("Δυνατότητα Παραγωγής"));
            row.append($("<th/>").html("Δυνατότητα Αποθήκευσης"));
            table_body.append(row);

            for (var j = 1; j<n+1; j++){
                var row = $("<tr/>");
                for (var i = 0; i<4; i++){
                    if (i==0){
                        row.append($("<th/>").html(j.toString()));
                    }else {
                        var item = $("<td/>");
                        var input = $("<input/>", {
                            type: "number",
                            class: "form-control",
                            id: "X"+(i).toString()+"Y"+(j).toString(),
                            value: data[j-1][i-1]
                        });
                        item.append(input);
                        row.append(item);
                    }
                }
                table_body.append(row);
            }
            $("#data").append(table_body);
            var run = $("<button/>", {
                id: "run-method",
                type: "button",
                class: "btn btn-success",
                onClick: "get_data_output();"
            }).html("Εκτέλεση");
            $("#run").append(run);
        }

        function render_table_data(){
            $("#run").empty();
            $("#data").empty();

            var table_body = $("<table/>", {
                class: "table",
                id: "data-table",
                style: "width: 90%;"
            });
            x = 3+options.x;
            y = 2+options.y;
            for (var j = 0; j<y; j++){
                var row = $("<tr/>");
                for (var i = 0; i<x; i++){
                    if (i < 2 && j < 2){
                        var item = $("<th/>");
                        row.append(item);
                    } else if (i>1 && j==1){
                        var item = $("<th/>").html((i-2).toString());
                        row.append(item);
                    } else if (i==1 && j > 1){
                        var item = $("<th/>").html((j-1).toString());
                        row.append(item);
                    }else if(j==0 && i == 2){
                        var item = $("<th/>", {
                            colspan: (y-2).toString()
                        }).html($("#x-axis-description").val());
                        
                        row.append(item);
                    }else if(j==2 && i==0){
                        var item = $("<th/>", {
                            rowspan: (x-2).toString()
                        });
                        var span = $("<span/>", {
                            style: "writing-mode: vertical-lr; -ms-writing-mode: tb-rl; transform: rotate(180deg);"
                        }).html($("#y-axis-description").val());
                        item.append(span);
                        row.append(item);
                    }else if((j==0 && i>2) ||  (i==0 && j>2)){
                        continue;
                    }else {
                        var item = $("<td/>");
                        var input = $("<input/>", {
                            type: "number",
                            class: "form-control",
                            id: "X"+(i-2).toString()+"Y"+(j-2).toString(),
                            value: data[j-2][i-2]
                        });
                        item.append(input);
                        row.append(item);
                    }          
                }
                table_body.append(row);
            }
            x = x - 3;
            y = y - 2;
            $("#data").append(table_body);
            var run = $("<button/>", {
                id: "run-method",
                type: "button",
                class: "btn btn-success",
                onClick: "get_data_output();"
            }).html("Εκτέλεση");
            $("#run").append(run);
        }

        $(document).ready(function() {
           render();
        });

        $(document).ready(function(){
            $("#fill").click(function(){
                $("#options").empty();
                $("#storage-options").empty();
                document.getElementById("network").style.display = "none";
                $("#data").empty();
                $("#run").empty();
                type = $("#type").val();
                if (type == "route"){
                    create_route();
                } else if (type == "invest"){
                    create_invest_options();
                } else if (type == "production"){
                    create_production_options();
                } else if (type == "store"){
                    create_storage_options();
                }
            });
        });

        function create_route(){
            document.getElementById("network").style.display = "block";
            id = 1;
            edge_id = 1;
            var input_nodes = [
                {
                    id:1,
                    group:"start",
                    label:"1",
                    level: 0},
                ];
            var input_edges = [];
            function destroy() {
                if (network !== null) {
                    network.destroy();
                    network = null;
                }
            }

            var nodes = new vis.DataSet(input_nodes);
            var edges = new vis.DataSet(input_edges);
            
            var container = document.getElementById('network');

            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                edges:{
                    arrows: 'to',
                    color: '#7C7C7C',
                },
                groups:{
                    start: {
                        shape: 'circle',
                        color: '#2bff67'
                    },
                    end: {
                        shape: 'circle',
                        color: '#e62222'
                    },
                    node: {
                        shape: 'circle',
                        color: '#c9c9c9'
                    }
                },
                interaction:{keyboard:false},
                manipulation: {
                    addNode: function(data, callback){
                        document.getElementById("node-operation").innerText = "Προσθήκη Κόμβου";
                        editNode(data, clearNodePopUp, callback);
                    },
                    editNode: function(data, callback){
                        document.getElementById("node-operation".innerText) = "Επεξεργασία Κόμβου";
                        editNode(data, cancelNodeEdit, callback);
                    },
                    addEdge: function(data, callback){
                        document.getElementById("edge-operation").innerText = "Προσθήκη Ακμής";
                        editEdgeWithoutDrag(data, callback);
                    },
                    editEdge:{
                        editWithoutDrag: function(data, callback){
                            document.getElementById("edge-operation").innerText = "Επεξεργασία Ακμής";
                            editEdgeWithoutDrag(data, callback);
                        }
                    },
                },
            };
            network = new vis.Network(container, data, options);

            var run = $("<button/>", {
                id: "run-method",
                type: "button",
                class: "btn btn-success",
                onClick: "get_data_output();"
            }).html("Εκτέλεση");
            $("#run").append(run);
        }

        function create_invest_options(){
            var form = $("<form/>");
            var row = $("<div/>",{
                class: "row"
            });
            var col =  $("<div/>",{
                class: "col"
            });
            var input = input = $("<input/>", {
                type: "text",
                class: "form-control",
                id: "y-axis-description",
                placeholder: "Τύπος Οικονομικών Περιόδων"
            });
            col.append(input);
            row.append(col);
            var col =  $("<div/>",{
                class: "col"
            });
            var input = $("<input/>", {
                type: "number",
                class: "form-control",
                step: "1",
                min: "1",
                id: "y-axis",
                placeholder: "Αριθμός Οικονομικών Περιόδων"
            });
            col.append(input);
            row.append(col);
            form.append(row);
            form.append($("<br/>"));
            
            var row = $("<div/>",{
                class: "row"
            });
            var col =  $("<div/>",{
                class: "col"
            });
            var input = $("<input/>", {
                type: "text",
                class: "form-control",
                id: "x-axis-description",
                placeholder: "Τύπος Οικονομικών Μονάδων"
            });
            col.append(input);
            row.append(col);
            var col =  $("<div/>",{
                class: "col"
            });
            var input = $("<input/>", {
                type: "number",
                class: "form-control",
                step: "1",
                min: "1",
                id: "x-axis",
                placeholder: "Αριθμός Οικονομικών Μονάδων"
            });
            col.append(input);
            row.append(col);
            form.append(row);
            form.append($("<br/>"));
            form.append($("<br/>"));
            
            var row = $("<div/>",{
                class: "row",
                style: "text-align: center;"
            });
            var col =  $("<div/>",{
                class: "col"
            });
            var input = $("<button/>",{
                class: "btn btn-success",
                id: "invest-set",
                onClick: "set_data_table();"
            }).html("Ορισμός Επιλογών");
            col.append(input);
            row.append(col);
            form.append(row);
            $("#options").append(form);

        }

        function create_storage_options(){
            $("#run").empty();
            $("#data").empty();
            $("#storage-options").append($("<p/>").html("Επιλογές"));
            var form = $("<form/>");
            var row = $("<div/>", {
                class: "row",
            });

            var div = $("<div/>", {
                class: "input-group mb-3",
            });
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Συνάρτηση Κόστους Παραγωγής:"));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("C<sub>x</sub> = ("));
            div.append($("<input/>", {
                type: "number",
                id: "a",
                class: "form-control"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("+ ν &#215;"));
            div.append($("<input/>", {
                type: "number",
                id: "b",
                class: "form-control"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html(") &#215; x + ("));
            div.append($("<input/>", {
                type: "number",
                id: "c",
                class: "form-control"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("+ ν &#215;"));
            div.append($("<input/>", {
                type: "number",
                id: "d",
                class: "form-control"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html(")"));
            form.append((row.append(div)));
            var row = $("<div/>", {
                class: "row",
            });
            var div = $("<div/>", {
                class: "input-group mb-3"
            });
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Συνάρτηση Κόστους Αποθήκευσης:"));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("C<sub>a</sub> = ("));
            div.append($("<input/>", {
                type: "number",
                id: "e",
                class: "form-control"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("+ ν &#215;"));
            div.append($("<input/>", {
                type: "number",
                id: "f",
                class: "form-control"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html(") &#215; a + ("));
            div.append($("<input/>", {
                type: "number",
                id: "g",
                class: "form-control"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("+ ν &#215;"));
            div.append($("<input/>", {
                type: "number",
                id: "h",
                class: "form-control"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html(")"));
            form.append(row.append(div));
            var row = $("<div/>", {
                class: "row",
            });
            var div = $("<div/>", {
                class: "input-group mb-3"
            });
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Παρτίδα Παραγωγής"));
            div.append($("<input/>", {
                type: "number",
                step: "1",
                min: "1",
                id: "production-batch"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Παρτίδα Παραγωγής"));
            div.append($("<input/>", {
                type: "number",
                step: "1",
                min: "1",
                id: "storage-batch"
            }));
            
            form.append(row.append(div));
            var row = $("<div/>", {
                class: "row",
            });
            var div = $("<div/>", {
                class: "input-group mb-3"
            });
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Αρχικό Απόθεμα"));
            div.append($("<input/>", {
                type: "number",
                step: "1",
                min: "1",
                id: "start-stock"
            }));
            div.append($("<span/>", {
                class: "input-group-text"
            }).html("Αριθμός Περιόδων"));
            div.append($("<input/>", {
                type: "number",
                step: "1",
                min: "1",
                id: "no-periods"
            }));
            form.append(row.append(div));
            var row = $("<div/>", {
                class: "row",
                style: "text-align: center;"
            });
            var col =  $("<div/>",{
                class: "col"
            });
            
            col.append($("<button/>",{
                type: "button",
                class: "btn btn-success",
                onClick: "set_storage_data();"
            }).html("Ορισμός Επιλογών"));
            form.append(row.append(col));
            $("#storage-options").append(form);
            $("#storage-options").append($("<p/>").html("ν: Περίοδος, x: Μέγεθος Παραγωγής, a: Μέγεθος Αποθήκευσης")); 
        }

        function set_storage_data(){
            $("#run").empty();
            $("#data").empty();
            if (($("#a").val()).length == 0 || ($("#b").val()).length == 0 || ($("#c").val()).length == 0 || ($("#d").val()).length == 0 || ($("#e").val()).length == 0 || ($("#f").val()).length == 0 || ($("#g").val()).length == 0 || ($("#h").val()).length == 0 || ($("#no-periods").val()).length == 0  ){
                alert("Please fill all the option fields!");
                return;
            }
            var table_body = $("<table/>", {
                class: "table",
                id: "data-table",
                style: "width: 90%;"
            });
            n = Number($("#no-periods").val());
            var row = $("<tr/>");
            row.append($("<th/>").html("Περίοδος"));
            row.append($("<th/>").html("Ζήτηση"));
            row.append($("<th/>").html("Δυνατότητα Παραγωγής"));
            row.append($("<th/>").html("Δυνατότητα Αποθήκευσης"));
            table_body.append(row);

            for (var j = 1; j<n+1; j++){
                var row = $("<tr/>");
                for (var i = 0; i<4; i++){
                    if (i==0){
                        row.append($("<th/>").html(j.toString()));
                    }else {
                        var item = $("<td/>");
                        var input = $("<input/>", {
                            type: "number",
                            class: "form-control",
                            id: "X"+(i).toString()+"Y"+(j).toString()
                        });
                        item.append(input);
                        row.append(item);
                    }
                }
                table_body.append(row);
            }
            $("#data").append(table_body);
            var run = $("<button/>", {
                id: "run-method",
                type: "button",
                class: "btn btn-success",
                onClick: "get_data_output();"
            }).html("Εκτέλεση");
            $("#run").append(run);
        }

        function set_data_table(){
            $("#run").empty();
            $("#data").empty();
            if (($("#x-axis").val()).length == 0 || ($("#y-axis").val()).length == 0|| ($("#x-axis-description").val()).length == 0 || ($("#y-axis-description").val()).length == 0){
                alert("Please fill all the option fields!");
                return;
            }
            var table_body = $("<table/>", {
                class: "table",
                id: "data-table",
                style: "width: 90%;"
            });
            x = 3+Number($("#x-axis").val());
            y = 2+Number($("#y-axis").val());
            for (var j = 0; j<y; j++){
                var row = $("<tr/>");
                for (var i = 0; i<x; i++){
                    if (i < 2 && j < 2){
                        var item = $("<th/>");
                        row.append(item);
                    } else if (i>1 && j==1){
                        var item = $("<th/>").html((i-2).toString());
                        row.append(item);
                    } else if (i==1 && j > 1){
                        var item = $("<th/>").html((j-1).toString());
                        row.append(item);
                    }else if(j==0 && i == 2){
                        var item = $("<th/>", {
                            colspan: (y-2).toString()
                        }).html($("#x-axis-description").val());
                        
                        row.append(item);
                    }else if(j==2 && i==0){
                        var item = $("<th/>", {
                            rowspan: (x-2).toString()
                        });
                        var span = $("<span/>", {
                            style: "writing-mode: vertical-lr; -ms-writing-mode: tb-rl; transform: rotate(180deg);"
                        }).html($("#y-axis-description").val());
                        item.append(span);
                        row.append(item);
                    }else if((j==0 && i>2) ||  (i==0 && j>2)){
                        continue;
                    }else {
                        var item = $("<td/>");
                        var input = $("<input/>", {
                            type: "number",
                            class: "form-control",
                            id: "X"+(i-2).toString()+"Y"+(j-2).toString()
                        });
                        item.append(input);
                        row.append(item);
                    }          
                }
                table_body.append(row);
            }
            x = x - 3;
            y = y - 2;
            $("#data").append(table_body);
            var run = $("<button/>", {
                id: "run-method",
                type: "button",
                class: "btn btn-success",
                onClick: "get_data_output();"
            }).html("Εκτέλεση");
            $("#run").append(run);      
        }
        function collect_options(){
            temp = {};
            temp.x = x;
            temp.y = y;
            temp.x_description =$("#x-axis-description").val();
            temp.y_description =$("#y-axis-description").val();
            return temp;
        }

        function collect_storage_options(){
            temp = {};
            temp.production_cost = [];
            temp.production_cost.push(parseFloat($("#a").val()));
            temp.production_cost.push(parseFloat($("#b").val()));
            temp.production_cost.push(parseFloat($("#c").val()));
            temp.production_cost.push(parseFloat($("#d").val()));
            temp.storage_cost = [];
            temp.storage_cost.push(parseFloat($("#e").val()));
            temp.storage_cost.push(parseFloat($("#f").val()));
            temp.storage_cost.push(parseFloat($("#g").val()));
            temp.storage_cost.push(parseFloat($("#h").val()));
            temp.prod_batch = parseInt($("#production-batch").val());
            temp.store_batch = parseInt($("#storage-batch").val());
            temp.start_stock = parseInt($("#start-stock").val());
            temp.periods = n;
            return temp;
        }

        function collect_table_data(){
            temp_arr = [];
            flag = 0;
            for (j=0; j<y; j++){
                temp = [];
                for(i=0; i<x+1; i++){
                    if (!$("#X"+i.toString()+"Y"+j.toString()).val().length){
                        flag = 1;
                        break;
                    } else{
                        temp.push(parseFloat($("#X"+i.toString()+"Y"+j.toString()).val()));
                    }
                }
                temp_arr.push(temp);
            }
            if (flag == 1){
                temp_arr = [];
                return temp_arr;
            } else {
                return temp_arr;
            }
        }

        function collect_storage_data(){
            temp_arr =[];
            flag =0;
            for(j=1; j<n+1; j++){
                temp = [];
                for(i=1; i<4; i++){
                    if (!$("#X"+i.toString()+"Y"+j.toString()).val().length){
                        flag = 1;
                        break;
                    } else{
                        temp.push(parseFloat($("#X"+i.toString()+"Y"+j.toString()).val()));
                    }
                }
                temp_arr.push(temp);
            }
            if (flag == 1){
                temp_arr = [];
                return temp_arr;
            } else {
                return temp_arr;
            }
        }

        function collect_route(){
            var output = {};
            var network_nodes = Object.keys(network.getPositions());
            var network_edges = Object.keys(network.body.edges);
            var output_nodes = [];
            var output_edges = [];
            network_nodes.forEach(element => {
                var temp = {};
                temp.id = network.body.nodes[element].options.id;
                temp.group = network.body.nodes[element].options.group;
                temp.label = network.body.nodes[element].options.label;
                output_nodes.push(Object.assign({}, temp));
            });
            network_edges.forEach(element => {
                var temp = {};
                temp.id = network.body.edges[element].options.id;
                temp.from = network.body.edges[element].options.from;
                temp.to = network.body.edges[element].options.to;
                temp.label = network.body.edges[element].options.label;
                output_edges.push(Object.assign({}, temp));
            });
            output.nodes = output_nodes;
            output.edges = output_edges;
            return output;
        }

        function get_data_output(){
            var output_data = {};
            output_data.title = $("#title").val();
            output_data.type = type;
            if (type == "route"){
                output_data.data = collect_route();
            } else if (type == "invest"){
                output_data.options = collect_options();
                output_data.data = collect_table_data();
                if (!output_data.data.length){
                    alert("Fill all the fields in the data table!");
                    return;
                }
            } else if (type == "production"){
                output_data.options = collect_options();
                output_data.data = collect_table_data();
                if (!output_data.data.length){
                    alert("Fill all the fields in the data table!");
                    return;
                }
            } else if (type == "store"){
                output_data.options = collect_storage_options();
                output_data.data = collect_storage_data();
                if (!output_data.data.length){
                    alert("Fill all the fields in the data table!");
                    return;
                }
            }
            output_data.id = Number(meth_id);
            ajax_post(output_data);
        }

        function ajax_post(out_data){
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {csrfmiddlewaretoken: "{{ csrf_token }}",
                        data: JSON.stringify(out_data)},
                url: "/dynamic/ajax/calculate",
                success: function(response){
                    document.forms[0].submit();
                },
            })
        }

    </script>
{% endblock %}

{% block body %}
<div class="card card-nav-tabs text-center card-white">
    <div class="card-header">
        <h3 class="card-title">Δυναμικός Προγραμματισμός - Επεξεργασία</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-nav-tabs text-center">
                    <input type="text" class="form-control" id="title" value="{{ input_title | safe }}" placeholder="Τίτλος">
                </div>
            </div>
            <div class="col-md-3">
                <select id="type" class="form-control" >
                    <option value="route">Βέλτιστη Διαδρομή</option>
                    <option value="invest">Προγραμματισμός Επενδύσεων</option>
                    <option value="store">Προγραμματισμός Παραγωγής και Αποθήκευσης</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="card card-nav-tabs text-center">
                    <button class="btn btn-success" type="button" id="fill">Συμπλήρωση</button>
                </div>
            </div>
            <div class="col-md-3" id="run">

            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="options"></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="storage-options" style="text-align: center;"></div>
            <div class="col-md-2"></div>

        </div>
        <br>
        <br>
        <div class="row" id="data">

        </div>
        <div class="row" >
            <div id="network" class="col-12" style="align-items: center;">
                <div class="vis-network">
                    <div class="vis-manipulation"></div>
                    <div class="vis-edit-mode"></div>
                    <button class="vis-close"></button>
                </div>
            </div>
        </div>
        
    </div>
</div>


<form id="submit_form" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
</form>
<div id="node-popUp">
    <span id="node-operation">node</span> 
    <br>
    <br>
    <select name="node-type" class="form-control" id="node-type">
        <option value="node" selected="selected">κόμβος</option>
        <option value="start">εκκίνηση</option>
        <option value="end">τερματισμός</option>
    </select>
    <div>
        <button class="btn btn-lg btn-success" id="node-saveButton" >Αποθήκευση</button>
        <button class="btn btn-lg btn-warning" id="node-cancelButton" >Ακύρωση</button>
    </div>
</div>
<div id="edge-popUp">
    <span id="edge-operation">edge</span> 
    <br>
    <br>
    <input type="number" class="form-control" placeholder="απόσταση" id="edge-label" min="0">
    <br>
    <br>
    <button class="btn btn-lg btn-success" id="edge-saveButton" >Αποθήκευση</button>
    <button class="btn btn-lg btn-warning" id="edge-cancelButton" >Ακύρωση</button>
</div>
{% endblock %}