{% extends "mainApp/base.html" %}
{% load static %}

{% block title %} Δέντρα Αποφάσεων {% endblock %}
{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
{% endblock %}
{% block body %}
        <div class="card card-nav-tabs text-center card-white">
            <div class="card-header">
                <h3 class="card-title">Δέντρα Αποφάσεων - Ανέβασμα Αρχείου</h3>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_title">Τίτλος</label>
                        <br>
                        <input type="text" name="title" maxlength="50" class="form-control" placeholder="Δώστε έναν τίτλο" title="" required="" id="id_title">
                    </div>
                    <div class="form-group">
                        <label class="btn btn-default" for="id_upload_file">
                            Διάλεξε Αρχείο <i class="fas fa-file-upload"></i> 
                        </label>
                        <input type="file" name="upload_file" class="form-control-file" title="" required="" id="id_upload_file">
                        
                    </div>
                    <p>{{ form.fieldname.errors.as_text }}</p>
                    <input type="submit" class="btn btn-primary" name="manage" value="Επεξεργασία">
                    <input type="submit" class="btn btn-primary" name="run" value="Εκτέλεση">
                </form>

            </div>
        </div>
    {% endblock %}
