<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dectree Upload</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        {% load bootstrap4 %}
        <h3>Upload your JSON file</h3>

        <div class="container">
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary" name="manage" value="Inspect Tree">
                <input type="submit" class="btn btn-primary" name="run" value="Run Method">
            </form>
            
        </div>
    </body>
</html>
